.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 86.5vh;
  gap: 20px;
  background: linear-gradient(135deg, rgb(85, 191, 75) 0%, rgba(85, 191, 75, 0.9) 50%, rgba(255, 204, 0, 0.2) 100%);
}
.hero h1 {
  font-size: 60px;
  color: rgba(255, 204, 0);
}
h2{
  font-size: 45px;
  color: #fff;
}
.hero p {
  font-size: 23px;
  color: white;
  max-width: 800px;
}
.hero button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: white;
  background-color: rgba(255, 204, 0);
  border: none;
  border-radius: 50px;
  gap: 10px;
  cursor: pointer;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.hero button:hover {
  box-shadow: 0px 5px 20px rgb(255, 204, 0);
  transform: scaleX(1.05) scaleY(1.01);
}
.hero div {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}